@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

html {
  background-color: #142D38;
  height: 100%;
}

body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

h1.front-page {
  background-color: #142D38;
  background-image: url("assets/water-4k.jpg");
  background-size: cover;
  background-position: center bottom; 

  width: 100%;
  margin: 0;
  min-height: 75vh;
  padding-top: 25vh;
}

h1.front-page::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px;
  content: "▾";
  font-size: 80px;
  opacity: 75%;
  z-index: 0;
}

h1.second-page {
  background-color: #142D38;
  background-image: url("assets/water-800.jpg");
  background-size: cover;
  background-position: center center; 

  width: 100%;
  margin: 0;
  min-height: 120px;
  padding-top: 100px;
}

h2 {
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: black;
  text-align: left;
  margin-top: 0;
}

h2 ~ h3 {
  margin-top: -28px;
}

h3 {
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #142D38;
  text-align: left;
  margin-bottom: 30px;
}

div.body {
  text-align: center;
  background-color: #f8faff;
  width: 100%;
  flex: 1 0;
}

span.text {
  display: inline-block;
  max-width: 1000px;
  margin: 20px;
  padding-top: 20px;
}

p {
  text-align: justify;
  margin-top: 0;
}

ul {
  text-align: justify;
  margin-bottom: 40px;
}

li {
  margin: 5px;
}

a {
  text-decoration: underline;
  color: black;
}

hr {
  width: 25%;
  display: block;
  background-color: #142D38; height: 1px; border: 0;
}

.column {
  display: inline-block;
  vertical-align: top;
  max-width: 400px;
  margin-top: 0;
}

span.column {
  margin-left: 40px;
  margin-right: 40px;
}

img.column {
  margin-bottom: 40px;
}

img.row {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* TODO small displays https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */
div.header {
  top: 0;
  width: calc(100% - 26px);
  position: fixed;
  padding: 8px;
  padding-right: 18px;
  text-align: right;
  z-index: 1;

  color: white;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif; 
  font-weight: 500;
  font-size: 17px;

  background-color: #142D38;
  background-image: url("assets/water-4k.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top 40vh;

  transition: transform 0.3s;
}

div.header.at-top {
  transform: translateY(-40px);
}

a.header-item {
  color: white;
  text-decoration: none;

  padding-left: 10px;
  padding-right: 10px;
}

a.header-item.home {
  position: absolute;
  left: 18px;
}

div.footer {
  flex-shrink: 0;
  color: white;
  font-size: 10px;
  text-align: center;
  /*margin-top: 10px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("assets/water-100.jpg");
  background-color: #142D38;
  background-size: cover;
  background-position: center bottom ;
}

div.footer a {
  color: white;
  padding-left: 10px;
}

div.contents {
  display: inline-block;
  max-width: 1000px;
  margin-bottom: 80px;
}

a.contents-item {
  display: inline-block;
  background-color: #142D38;
  background-size: cover;
  background-position: center bottom;

  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif; 
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: white;
  text-decoration: none;

  width: 200px;
  height: 40px;
  padding: 20px;
  padding-top: 180px;
  margin: 20px;
  border-radius: 3px;
}

#contents-1 {
  background-image: url("assets/box1.jpg");  
}

#contents-2 {
  background-image: url("assets/box2.jpg");  
}

#contents-3 {
  background-image: url("assets/box3.jpg");  
}

#contents-4 {
  background-image: url("assets/box4.jpg");  
}

#contents-5 {
  background-image: url("assets/box5.jpg");  
}

#contents-6 {
  background-image: url("assets/box6.jpg");  
}

.form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}