{% set title = "Contact" %}
{% extends "layout.njk" %}
{% block body %}
  <h1 class="second-page">Contact</h1>
  <span class="text">
    <span class="column">
      <p>The easiest way to contact us is to use the form below. If you prefer, you can email us at <a href="mailto:info@chchfreediving.nz">info@chchfreediving.nz</a>.</p>
      <p>You can stay in touch either by joining our <a href="https://www.facebook.com/groups/chchfreediving">Facebook group</a> (training, news, events, and discussion) or <a href="https://groups.google.com/g/chchfreediving">mailing list</a> (low-volume, announcements only). We also have a <a href="https://calendar.google.com/calendar/u/0?cid=czRqdGk1ajNocDVtNmNrMTZjcWdlczd2azRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">calendar</a> with our regular training sessions and other events.</p>
    </span><img src="assets/diver-1.jpg" class="column" alt="Silhouette of a freediver underwater">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfOvyt2f7EqSA5Bzuo0iTZSCdjqv3UNqH_XHl5dyNlG_EByBg/viewform?embedded=true" width="1000" height="800" frameborder="0" marginheight="0" marginwidth="0" class="form">Loading…</iframe>
  </span>
{% endblock %}
