{% set title = "Website credits" %}
{% extends "layout.njk" %}
{% block body %}
  <h1 class="second-page">Credits</h1>
  <span class="text">
    <p>Website authored by <a href="https://www.ncameron.org/">Nick Cameron</a>. Copyright 2020 Christchurch Freediving Club. Licensed under the Creative Commons Attribution 4.0 International (CC-BY-4.0), except where noted below. <a href="https://github.com/chchfreediving/chchfreediving.nz">Source code</a>.</p>
    <p>Images from Wellington Winter Champs 2018 and 2019 (training page): Rob - <a href="https://ghostdivingnz.org/">Ghost Diving NZ</a></p>
    <p>Freediving images (start, join, and contact pages): <a href="https://www.instagram.com/kristinezipfel/">Kristine Zipfel</a></p>
    <p>Theme photo (water): <a href="https://unsplash.com/@jeremybishop?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jeremy Bishop</a> on <a href="https://unsplash.com/s/photos/water?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
    <p>Dolphins photo (resources page): <a href="https://unsplash.com/@hrktstyle?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Hiro Kitaoka</a> on <a href="https://unsplash.com/s/photos/dolphin?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></p>
  </span>
{% endblock %}
