{% extends "layout.njk" %}
{% block body %}
    <h1 class="front-page" id="title" onclick="window.scrollTo({ top: this.getBoundingClientRect().bottom + window.scrollY - document.getElementById('header').getBoundingClientRect().height, left: 0, behavior: 'smooth' });">Christchurch Freediving Club</h1>
    <span class="text">
      <p>We are a freediving club in Christchurch, Canterbury, New Zealand. We're AIDA affiliated through Freediving New Zealand. This provides numerous benefits to our members including being able to compete at AIDA competitions and being eligible for national and international records. We <a href="train.html">train</a> weekly at Graham Condon swimming pool in north Christchurch. We provide a safe and welcoming environment for all freedivers, whatever your freediving experience. To <a href="join.html">join</a> the club, we hold inductions every month.</p>
      <p>Freediving is the sport and practice of holding your breath (apnea) underwater. People freedive in the ocean, lakes, and swimming pools. Freedivers train to compete, dive for the fun of it, dive to catch fish (spearfishing), or dive to look around (snorkelling). Freediving can be physically challenging, meditative, or a mental battle. Freediving is the most natural and serene way to explore the depths of the oceans with minimal impact.</p>
      <p>In competition there are depth, dynamic apnea (maximum distance in the pool), and static apnea (maximum time in the pool) disciplines. NZ athletes are competitive in pretty much every event.</p>
      <p>The club now has approval from the council to train static apnea in the pools and subject to demand and lane availability we will be running a weekly session focused on statics. This adds another dimension to our training sessions and particularly useful for those wishing to enter competitions or focus on their relaxation technique.</p>
      <p>People train in the pool for lots of reasons: for fun, for competition, to improve their spearfishing or deep freediving, or to be more confident when snorkelling, diving, or surfing.</p>
    </span>
    <div></div> 
    <div class="contents">
      <a class="contents-item" id="contents-1" href="start.html">Start</a>
      <a class="contents-item" id="contents-2" href="join.html">Join</a>
      <a class="contents-item" id="contents-3" href="train.html">Train</a>
      <a class="contents-item" id="contents-4" href="news.html">News</a>
      <a class="contents-item" id="contents-5" href="resources.html">Resources</a>
      <a class="contents-item" id="contents-6" href="contact.html">Contact</a>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  let header = document.getElementById("header");
  header.classList.add("at-top");
  let title = document.getElementById("title");
  title.classList.add("at-top");

  function onScroll() {
    const scollY = window.scrollY;
    const containsAtTop = header.classList.contains("at-top");

    if (scrollY != 0 && containsAtTop) {
      header.classList.remove("at-top")
      title.classList.remove("at-top");
    } else if (scrollY == 0 && !containsAtTop) {
      header.classList.add("at-top");
      title.classList.add("at-top");
    }
  }

  document.addEventListener('scroll', onScroll);
</script>
{% endblock %}
