{% set title = "Joining" %}
{% extends "layout.njk" %}
{% block body %}
  <h1 class="second-page">Join</h1>
  <span class="text">
    <span class="column">
      <p>We love new members! Whether you're brand new to the sport and want to try it out, or super-experienced and want to train for your next world record, you want you to feel welcome at Christchurch Freediving Club.</p>
      <p>Everyone has to attend an induction, even if you've been diving for years, you've taken a course, or you're a member of another club, see our <a href="start.html">starting page</a>. You must be 18 or older to do an induction or join the club.</p>
      <p>Once you've done an induction, you can join the club. You'll need to fill out the membership form below and pay the club fees. Our fees are $180 per calendar year. Then you can attend our <a href="train.html">training sessions</a>, trips, and other events.</p>
      <p>Joining the club will make you a member of Freediving New Zealand which means you can enter AIDA competitions (we're in the process of affiliating with FNZ, so this benefit doesn't apply quite yet).</p>
      <p>To join, you'll need to fill out the form below. You should have filled out an <a href="https://forms.gle/ewdrsepquTRHwiA6A">induction form</a>, a <a href="resources/cfc-participation-agreement.pdf">participation agreement</a>, and a <a href="https://forms.gle/1uR19ZHtw15W7q4h8">medical questionnaire</a> before your induction. If details on any of these forms have changed, please fill out a new one.</p>
    </span>
    <img src="assets/diver-3.jpg" class="column" alt="Freediver making a bubble ring">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfi2L79c8o-vaR7ukqiUA1vnDtJftl4dnykjBxJ2QvGCG_cOA/viewform?embedded=true" width="1000" height="800" frameborder="0" marginheight="0" marginwidth="0" class="form">Loading…</iframe>
  </span>
{% endblock %}
