{% set title = "News" %}
{% extends "layout.njk" %}
{% block body %}
  <h1 class="second-page">News</h1>
  <span class="text">
    <h2>New website released</h2>
    <h3>11th December 2020</h3>
    <p>We created a new website; you are reading it!</p>
    <p>You can find some information on freediving, joining the club, and training. You can download a bunch of essential docs from the resources page, and there are all the forms you might need too.</p>
    <p>It should mostly look good on mobile, except for the menu at the top which is a bit of a mess for now. If there is anything you're looking for and can't find, or something which doesn't look right, let us know via the <a href="contact.html">contact page</a>.</p>
  </span>
  <hr>
{% endblock %}
