{% set title = "News" %}
{% extends "layout.njk" %}
{% block body %}
  <h1 class="second-page">News</h1>
  {% for item in newsItems %}
  <span class="text">
    <h2>{{ item.title }}</h2>
    <h3>{{ item.date }}</h3>
    {{ item.text | safe }}
  </span>
  <hr>
  {% endfor %}
{% endblock %}
