{% set title = "Privacy policy" %}
{% extends "layout.njk" %}
{% block body %}
  <h1 class="second-page">Privacy Policy</h1>
  <span class="text">
    <p>This site does not use cookies. We do not collect any tracking information (e.g., ip addresses) or use any web analytics. We use Google forms; these are managed by Google and Google may use cookies or collect information on how you use those forms. For more information, see <a href="https://policies.google.com/privacy">Google's privacy policy</a>.</p>
    <p>When you submit personal information on this website it is retained by Christchurch Freediving Club. We will only share it with others outside the club if legally obliged to do so. Within the club, your information will only be handled by members of the committee, or club members who have been delegated a task by the committee which requires your personal information. Personal information will be deleted when it is no longer needed.</p>
    <p>Our full <a href="resources/cfc-privacy.pdf">privacy policy</a> describes in more detail how we handle your personal information.</p>
  </span>
{% endblock %}
