{% set title = "Resources" %}
{% extends "layout.njk" %}
{% block body %}
  <h1 class="second-page">Resources</h1>
  <span class="text">
    <span class="column">
      <img src="assets/dolphins.jpg" alt="Silhouette of dolphins" class="column">
      <h2>Downloads</h2>
      <ul>
        <li><a href="resources/cfc-participation-agreement.pdf">Participation agreement</a></li>
        <li><a href="resources/cfc-rules.pdf">Club rules and procedures</a></li>
        <li><a href="resources/cfc-privacy.pdf">Privacy policy</a> (see also <a href="privacy.html">Privacy summary</a>)</li>
        <li><a href="resources/cfc-pool-induction.pdf">Pool induction handout</a></li>
        <li><a href="resources/ccc-breath-holding-policy.pdf">Christchurch City Council breath holding policy</a> and <a href="resources/ccc-breath-holding-tcs.pdf">terms and conditions</a></li>
        <li><a href="resources/fnz-national-safety-standards.pdf">Freediving New Zealand national safety standards</a></li>
      </ul>
    </span><span class="column">
      <h2>Forms</h2>
      <ul>
        <li><a href="https://forms.gle/HyiGPpf3vqpiNRLV9">Contact us</a></li>
        <li><a href="https://forms.gle/ewdrsepquTRHwiA6A">Register for an induction</a></li>
        <li><a href="https://forms.gle/1uR19ZHtw15W7q4h8">Medical questionnaire</a></li>
        <li><a href="https://forms.gle/z2m55KdiwJn6iPQUA">Apply for membership</a></li>
        <li><a href="https://forms.gle/EeUPWDfrEYbg7PUq5">Report an incident</a></li>
      </ul>
      <h2>Links</h2>
      <ul>
        <li><a href="https://www.facebook.com/groups/chchfreediving">Our Facebook group</a></li>
        <li><a href="https://groups.google.com/g/chchfreediving">Club mailing list</a></li>
        <li><a href="https://calendar.google.com/calendar/u/0?cid=czRqdGk1ajNocDVtNmNrMTZjcWdlczd2azRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">Club calendar</a></li>
        <li><a href="https://freediving.co.nz/">Freediving New Zealand</a></li>
        <li><a href="https://www.aidainternational.org/">AIDA</a></li>
        <li><a href="https://southislandspearo.com/">South Island Spearfishing club</a></li>
      </ul>
    </span>
  </span>
{% endblock %}
