{% set title = "Start freediving" %}
{% extends "layout.njk" %}
{% block body %}
  <h1 class="second-page">Start Freediving</h1>
  <span class="text">
    <span class="column">
      <p>Freediving with a club means you can train regularly and find other divers for trips or competitions. It's a great way to give freediving a try in a safe and friendly environment, and it's cheap too.</p>
      <p>To join Christchurch Freediving Club, everyone needs to attend an induction (you can attend the induction without joining the club, if you just want to give it a go). We hold inductions monthly, 6pm till 8pm on a Monday at Graham Condon swimming pool. You'll need to fill in the forms below before attending. We'll get back to you with the date of the next available induction. Inductions cost $60, please bring cash to the induction or pay beforehand by bank transfer (02-0816-0405916-000). After your induction you can train with us for free for the following month. The induction cost will be deducted from your first annual membership fee if you decide to join the club. If you've got any questions, <a href="contact.html">get in touch</a>!</p>
      <p>You must be 18 or older, in general good health, and comfortable in the water (you don't need to be Michael Phelps, but you do need to be able to swim a few lengths and be comfortable going underwater). You'll need to bring the following:</p>
      <ul>
        <li>Mask</li>
        <li>Fins (you don't need freediving fins, any fins will do)</li>
        <li>Wetsuit (not strictly necessary, but you'll get very cold without. A swimming/triathalon wetsuit is best, but any wetsuit will do)</li>
        <li>Weight belt and weights, if you have them - the club has neck weights you can borrow.</li>
      </ul>
      <p>If you're missing anything, let us know and we might be able to help out.</p>
      <p>We recommend that anyone who freedives (especially in open water) take a course from a qualified instructor, but it's not a prerequisite for joining the club.</p>
    </span>
    <img src="assets/diver-2.jpg" class="column" alt="Freediver making a bubble ring">
    <p id="induction" class="form">Fill out this form to apply for an induction. You must also complete a <a href="https://forms.gle/1uR19ZHtw15W7q4h8">medical questionnaire</a> before the induction, and have a doctor's clearance if you have any of the conditions listed. You will need to complete a paper <a href="resources/cfc-participation-agreement.pdf">participation agreement</a>. You can either print it out and bring it with you, or fill it out on the day.</p>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf5UgrvVqB4Ud-o5d33656tVr5rJkAbdQqCmqvVNcrUoc0OCA/viewform?embedded=true" width="1000" height="800" frameborder="0" marginheight="0" marginwidth="0" class="form">Loading…</iframe>
  </span>
{% endblock %}
