{% set title = "Training" %}
{% extends "layout.njk" %}
{% block body %}
  <h1 class="second-page">Training</h1>
  <span class="text">
    <p>We train every Monday at Graham Condon swimming pool in Christchurch, from 6:30pm to 8pm (you can arrive early to do some stretching or warms up, but please don't do anything underwater). Subject to demand and lane availability we also train on Wednesday from 7:30pm to 8:30pm. People train for different reasons and with different abilities and intensities.</p>
    <p>You must be a member of the club to train. Please don't just show up at training, you won't be able to participate and we'll all be sad. We welcome <a href="join.html">new members</a>, but you need to do an induction and fill out some forms first. You can either join the club on an annual basis or pay $10 per training session as a casual member.</p>
    <p>We train both dynamic (i.e. swimming distance under water) and static apnea (breath hold on the surface without moving). Our sessions are loosely structured - everyone does the same thing and everyone has input to what that is. We might do lots of short dives, or a few longer ones, or focus on technique or relaxation in the water.</p>
    <p>Safety is the top priority. Our safety procedures are covered in our inductions, and there are <a href="resources.html">written versions</a>. You will be responsible for your own safety and the safety of others, so you must stick to our rules and regularly practice rescues and other incident responses. We have some safety practice at every session.</p>
    <img src="assets/pool-2-1000.jpg" class="row" alt="Freediver with monofin in the pool">
    <p>You need to bring your own equipment. You need to have either a mask or goggles and a nose clip. You need fins, but they don't need to be long fins or specific for freediving - swimming or diving fins are fine. We recommend you have a wetsuit, some people like to train in togs, but it can get pretty chilly (unless its a base fitness session). You'll need a weight belt and/or neck weight; the club has some neck weights you can borrow. If you want to train but are missing any of the gear, <a href="contact.html">get in touch</a>, we might be able to help. You have to pay for pool entry as normal.</p>
    <img src="assets/pool-1-1000.jpg" class="row" alt="Freediver with monofin turning in the pool">
  </span>
{% endblock %}
